
  <h1 class="team-h1" style="margin-bottom:2em;">The Agile Team</h1>

    <!-- member-->
    <div class="team-member">
      <img class="team-photo" src="http://i292.photobucket.com/albums/mm28/aknapp1212/IMG_0023b_Giancario%20Franchini_zpsabfpwiue.jpg" alt="Giancarlo Frachini"/>
      <div id="hover1">Back-End Developer</div>
      <h3>Giancarlo Frachini</h3>
      <a href="https://www.linkedin.com/in/giancarlo-franchini-0017197a"  target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://twitter.com/nerdgasms_exe"  target="_blank" ><i class="fa fa-twitter-square fa-3x"></i></a>
      <a href="https://github.com/gfranchini"  target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
      <a class="email" href="mailto:gfranchini88@gmail.com"><span class="fa fa-envelope fa-2x"></span></a>
    </div>

    <!-- member-->
    <div class="team-member">
      <img class="team-photo" src="http://i292.photobucket.com/albums/mm28/aknapp1212/IMG_0032b_West%20Kraemer_zpsnvvitbfu.jpg" alt="West Kraemer"/>
      <div id="hover2">Project Lead</div>
      <h3>West Kraemer</h3>
      <a href="https://www.linkedin.com/in/west-kraemer-1b855a91"  target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://twitter.com/PuffFatherInLaw"  target="_blank" ><i class="fa fa-twitter-square fa-3x"></i></a>
      <a href="https://github.com/Westopher"  target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
      <a class="email" href="mailto:west.kraemer@yahoo.com"><span class="fa fa-envelope fa-2x"></span></a>
    </div>

    <!-- member-->
    <div class="team-member">
    <img class="team-photo" src="http://i292.photobucket.com/albums/mm28/aknapp1212/IMG_0028b_Adrian%20Knapp_zpspb18oy23.jpg" alt="Adrian Knapp"/>
    <div id="hover3">Front-End Developer</div>
      <h3>Adrian Knapp</h3>
      <a href="https://www.linkedin.com/in/adrianknapp"  target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://twitter.com/aknapp1212"  target="_blank" ><i class="fa fa-twitter-square fa-3x"></i></a>
      <a href="https://github.com/aknapp1212"  target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
      <a class="email" href="mailto:aknapp1212@gmail.com"><span class="fa fa-envelope fa-2x"></span></a>
    </div>
