<div class= "contact">
<div class="contact-title">
<center><h1>Emails us at TopOutlines@gmail.com</h1></center>
</div><br/><br/>
<div class= "team">
<div class="GC col-md-4">
  <img src="#">
  <p>GC</p><br/>
  <p>Back-end Developer</p>
</div>
<div class="West col-md-4">
  <img src="#">
  <p>West</p> <br/>
  <p> Project Lead </p>

</div>
<div class= "Adrian col-md-4">
  <img src="#">
  <p>Adrian</p>
  <p>Front-end Developer</p>
</div>


  </div><br/><br/>







</div><br/><br/>