<div class="navbar navbar-default navbarstatic-top">
  <div class="container">
    <a href="index.html" class="navbar-brand">TopOutlines</a>
    <div class="navbar nav-tabs">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/pages/about/">About</a></li>
        <li><a href="/pages/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
